.accountancy-container
{
    margin: auto;
    position: relative;
    background-color: rgb(18, 43, 48);
    height: 15em;
}
.accountancy-container ul
{
    list-style-type: none;
    padding: 0.5em;
}
.accountancy-container li
{
    display: block;
}
.accountancy-container p
{
    color: rgb(255, 255, 255);
}
.accountancy-container img
{
    width: 15em;
    height: 15em;
    margin-left: 2em;
}
.accountancy-container h2
{
    color: black;
    position: relative;
    right: 1em;
    margin-left: 30em;
    text-align: right;
    width: 10em;
}
#career-info
{
    position: relative;
    right: 1em;
    margin-left: 30em;
    text-align: right;
}
.row
{
    display: flex;
    padding: 8em;
    border-bottom: rgb(18, 43, 48) solid 0.2em ;
    border-radius: 2em;
}
.row .item
{
    height: 10em;
    width: 10em;
    background-color: rgba(115, 108, 108, 0.612);
    margin-left: 1em;
    margin-right:1em;
    border-radius: 2em;
    border: rgb(18, 43, 48) solid 0.2em;
}
.row p
{
    color: rgb(18, 43, 48);
}
ul h3
{
    width: 15em;
    text-align: center;
    margin: auto;
    display: block;
    color: rgb(18, 43, 48);
}