.Background-container
{
    margin: auto;
    background-color: rgb(128, 127, 127);
    width: 96%;
    text-align:  center;
    justify-content: center;
    overflow: hidden;
    height: fit-content;
}
.Background-content
{
    background-color: black;
}
.Background-content .nav
{
    display: flex;
    text-align: center;
}
.content-body
{
    background-color: white;
    margin-bottom: 1em;
    height: 8em;
    position: relative;
    text-align: center;
    margin: 0.1em;
    font-size:smaller;
}
.content-body p
{
    color: black;
    position: absolute;
    top: 0.4em;
    margin: 0.4em;
 
}
.Background-content a
{
    color: black;
    margin: 0.1em;
    padding: 0.5em;
    background-color: grey;
    text-decoration: none;
    width: 100%;
    font-size:smaller;
    font-weight: bold;
}
.Background-content a:hover
{
    background-color: white;
    color: brown;
}
.Background-content a:active
{
    background-color: white;
    color: brown;
}
p
{
    text-align: center;
    color: white;
}
