.education-container {
    text-align: center;
}

.education-item {
    display: block;
    overflow: hidden;
}

.education-item img {
    width: 6em;
    height: 6em;
    margin-left: 1vw;
    margin-bottom: 0.5em;
    overflow: hidden;
    box-shadow: white 0.1em 0.1em 0.1em 0.1em;
}
.education-item h3
{
    color:rgb(70, 193, 214);
    margin: 0.5em;
    font-size: xx-large;
    text-align: right;
}
p {
    display: block;
    color: white;
    margin: 1em;
    text-align: left;
}
.strong-p
{
    font-size: large;
    text-align: right;
}
