.education-container {
    text-align: center;
}

.education-item {
    display: block;

}

.education-item img {
    width: 5em;
    height: 5em;
    margin-left: 1vw;
    margin-bottom: 0.5em;
}
.education-item h3
{
    color:rgb(70, 193, 214);
    margin: 0;
}

.education-item p {
    display: block;
}
