.education-container {
    text-align: center;
}

.education-item {
    display: block;
    overflow: hidden;
}

.education-item img {
    width: 6em;
    height: 6em;
    margin-left: 1vw;
    margin-bottom: 0.5em;
    overflow: hidden;
    box-shadow: rgb(6, 57, 66) 0.2em 0.2em 0.2em 0.2em;
}
.education-item h3
{
    color:rgb(70, 193, 214);
    margin: 0.5em;
    font-size: x-large;
}
p {
    display: block;
    color: white;
    margin: 1em;
    text-align: left;
    font-size: smaller;
}
.strong-p
{
    font-size: large;
    text-align: right;
}
