.entrepreneurship-container
{
    margin: auto;
    position: relative;
    background-color: rgb(48, 45, 18);
    height: 35em;
    overflow: hidden;
}
.entrepreneurship-container ul
{
    list-style-type: none;
    padding: 0.5em;
}
.entrepreneurship-container li
{
    display: block;
}
.entrepreneurship-container p
{
    color: rgb(255, 255, 255);
}
.entrepreneurship-container img
{
    width: 15em;
    height: 15em;
    margin-left: 2em;
}
.entrepreneurship-container h2
{
    color: rgb(255, 255, 255);
    position: relative;
    right: 1em;
    margin-left: 30em;
    text-align: right;
    width: 10em;
}
#career-info
{
    position: relative;
    right: 1em;
    margin-left: 30em;
    text-align: right;
}
.row
{
    display: flex;
    position: relative;
    padding: 8em;
    border-radius: 2em;
}
.row .item
{
    height: 12em;
    width: 12em;
    background-color: rgba(115, 108, 108, 0.612);
    margin: auto;
    position: relative;
    top: 4em;
}
.row p
{
    color: rgb(18, 43, 48);
    background-color: white;
    text-align: center;
    align-items: center;
    padding: 0.2em;
    border-radius: 1em;
    position: absolute;
    bottom: 1em;
    width: 10em;
}
ul h3
{
    width: 15em;
    text-align: center;
    margin: auto;
    display: block;
    color: rgb(255, 255, 255);
}
#presentation
{
    background-image: url('../assets/presentation.gif');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}
#patenting
{
    background-image: url('../assets/patenting.png');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}
#commercialisation
{
    background-image: url('../assets/sais1.jpeg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}
#project-management
{
    background-image: url('../assets/sais1.jpeg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}
#research
{
    background-image: url('../assets/sais1.jpeg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}