.Home-container
{
    margin: auto;
    width: 100vw;
    height: 80vh;
    width: 100vw;
}
img
{
    position: fixed;
    left: 0;
    background-color: rgba(128, 128, 128, 0.356);
    width: 48vw;
    height: 54vw;
}