.software-container
{
    margin: auto;
    position: relative;
    background-color: rgb(18, 43, 48);
    height: 35em;
    overflow: hidden;
}
.software-container ul
{
    list-style-type: none;
    padding: 0.5em;
}
.software-container li
{
    display: block;
}
.software-container p
{
    color: rgb(255, 255, 255);
}
.software-container img
{
    width: 15em;
    height: 15em;
    margin-left: 2em;
}
.software-container h2
{
    color: rgb(255, 255, 255);
    position: relative;
    right: 1em;
    width: 30em;
    margin-left: 30em;
}
#career-info
{
    position: relative;
    right: 1em;
    margin-left: 30em;
    text-align: right;
}
.row
{
    display: flex;
    position: relative;
    padding: 8em;
}
.row .item
{
    height: 12em;
    width: 12em;
    background-color: rgba(115, 108, 108, 0.612);
    margin: auto;
    border-radius: 2em;
}
.row p
{
    color: rgb(48, 45, 18);
}
h3
{
    width: 30em;
    text-align: center;
    margin: auto;
    display: block;
    color: rgb(255, 255, 255);
}
#python
{
    background-image: url('../assets/sais1.jpeg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}
#java
{
    background-image: url('../assets/sais1.jpeg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}
#html
{
    background-image: url('../assets/sais1.jpeg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}
#git
{
    background-image: url('../assets/sais1.jpeg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}
#javascript
{
    background-image: url('../assets/sais1.jpeg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.459);
    opacity: 0.4;
}