.topNav
{
    height: 10em;
    position: absolute;
    display: flex;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgb(30, 30, 34);
    overflow: hidden;
    width: 100vw;
}

.topNav img
{
    width: 10vw;
    height: 10vw;
    position: fixed;
    top: 1em;
    border-radius: 15em;
}
.topNav h1
{
    position: absolute;
    right: 1em;
    color:  rgb(70, 193, 214);
    font-size: 3em;
    top: 0;
}
.topNav .Credentials
{
    display: flex;
    color: white;
    position: absolute;
    top: 7em;
    right: 1em;
    
}
.Credentials a
{
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: rgba(70, 192, 214, 0.678);
    border-radius: 2em;
    padding: 0.4em;
    color: rgb(30, 30, 34);
    border: white solid 0.1em;
    text-decoration: none;
    font-weight: bold;
}

.Credentials a:hover
{
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 2em;
    padding: 0.4em;
    color: rgb(30, 30, 34);
    border: rgba(70, 192, 214, 0.678) solid 0.1em;
    text-decoration: none;
    font-weight: bold;
}