.mainContainer
{
  margin: auto;
  text-align: center;
}
.Nav
{
  position: fixed;
  left: 0;
  right: 0;
  height: 18vh;
  top: 0;
  z-index: 3;
}
.Body
{
  position: relative;
  top: 10.5em;
}
.Background
{
    position: absolute;
    right: 1vw;
    width: 40em;
    top: 10.5em;
}
.Education {
  position: absolute;
  background-color: rgb(0, 0, 0);
  right: 1vw;
  top: 28vw;
  width: 46vw;
  height: 33em;
}
.Accountancy
{
  position: relative;
  top: 26em;
  background-color: rgb(120, 134, 71);
}
.Entrepreneurship
{
  position: relative;
  top: 31em;
  background-color: rgb(79, 73, 97);
}
.SoftwareDev
{
  position: relative;
  top: 32em;
  background-color: rgb(34, 68, 44);
}
.Footer
{
  margin: auto;
  position: relative;;
  top: 0;
}
